* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  background-color: #e1e1f3;
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
}
.big-circle {
  position: absolute;
  top: -30%;
  left: -10%;
  width: 500px;
  height: 600px;
  background-color: #f791a7;
  opacity: 0.4;
  border-radius: 100%;
  z-index: 1;
}
.small-circle {
  position: absolute;
  top: 55%;
  left: 55%;
  width: 200px;
  height: 200px;
  background-color: #9ab0d6;
  opacity: 0.4;
  border-radius: 100%;
  z-index: 1;
}
.list-container {
  position: relative;
  z-index: 2;
  width: 15rem;
  border-radius: 7px;
  padding: 0.8rem 0.8rem 1.2rem;
  -webkit-box-shadow: 0px 0px 8px -1px #6f6f7a;
  box-shadow: 0px 0px 8px -1px #6f6f7a;
  background-color: #fff;
  overflow: hidden;
}
header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.menu,
.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.menu-icon {
  font-size: 1.2rem;
  margin-right: 0.3rem;
  cursor: pointer;
}
ion-icon {
  font-size: 16px;
}
.menu h3 {
  font-size: 0.8rem;
  font-weight: 600;
}
.notification-cont {
  position: relative;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}
.notification-cont span {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 0.5rem;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #4171b6;
}
.not-icon,
.search-icon {
  cursor: pointer;
}
.client-list {
  position: relative;
}
.client-item {
  cursor: pointer;
  transform: translateX(0);
  padding: 0.6rem 0 0.6rem 0.6rem;
  margin-bottom: 0.4rem;
  -webkit-box-shadow: 0px 0px 5px -1px #9ab0d6;
  box-shadow: 0px 0px 5px -1px #9ab0d6;
  transition: 0.3s all ease;
}
.client-item.active {
  transform: translateX(-50%);
}
.client-item:hover {
  background-color: #eaefff;
}
.item-head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 0.6rem;
}

.item-head span {
  width: 20px;
  height: 20px;
  margin-right: 0.3rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.5rem;
  font-weight: 700;
}
.first {
  background-color: #f791a7;
  color: #ea547b;
}
.second {
  background-color: #9ab0d6;
  color: #4171b6;
}
.third {
  background-color: #ffe0b2;
  color: #f69f57;
}
.fourth {
  background-color: #f791a7;
  color: #ea547b;
}

.item-head h4 {
  font-size: 0.6rem;
  font-weight: 600;
}
.item-body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.left-body,
.right-body {
  flex: 1;
}

.desc {
  font-size: 0.4rem;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.5;
}
.val {
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.5;
}

.add-item {
  position: absolute;
  bottom: -2rem;
  right: -3rem;
  width: 6rem;
  height: 5rem;
  background-color: #4171b6;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.5s all ease;
}

.modal-client {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.5s all ease-in-out;
}
.modal-client.active {
  position: absolute;
  border-radius: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4171b6;
}
.modal-client h2 {
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  transform: scale(0);
  transition: 1s all ease;
}
.modal-client.active h2 {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  transform: scale(1);
}
.close-icon-item {
  position: absolute;
  right: 0.8rem;
  top: 0.8rem;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}
.add-item:hover {
  -webkit-box-shadow: 0px 0px 12px -1px #9ab0d6;
  box-shadow: 0px 0px 12px -1px #9ab0d6;
}
.plus-icon {
  position: absolute;
  top: 20%;
  left: 15%;
  color: white;
  font-size: 1.5rem;
}
.plus-icon.act {
  display: none;
}

.options {
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  transform: translateX(-100%);
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.3s all ease;
}
.active .options {
  display: flex;
  transform: translateX(100%);
}
.invoice,
.delete {
  font-size: 0.6rem;
  font-weight: 600;
  transition: 0.3s all;
}
.invoice {
  color: #4171b6;
}
.delete {
  color: #ea547b;
}
.invoice:hover {
  color: #7ea7e2;
}
.delete:hover {
  color: #e987a1;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -5.8rem;
  left: 0;
  width: 100%;
  height: 5rem;
  transform: translateX(-110%);
  border-radius: 4px;
  background-color: #ffa0b9;
  color: #4171b6;
  -webkit-box-shadow: 0px 0px 5px -1px #9ab0d6;
  box-shadow: 0px 0px 5px -1px #9ab0d6;
  transition: 0.3s all ease;
  z-index: 99;
}
.search.active {
  transform: translateX(0);
}
.search input {
  width: 80%;
  outline: none;
  border: none;
  padding-bottom: 0.1rem;
  background-color: transparent;
  border-bottom: 1px solid #e1e1f3;
  color: white;
  font-weight: 500;
  pointer-events: initial;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.search input::placeholder {
  color: #fff;
}
.close-icon {
  position: absolute;
  right: 0.5rem;
  top: 0.4rem;
  color: #fff;
  cursor: pointer;
}
.menu-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 55%;
  height: 100%;
  background-color: #f17e22;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-100%);
  transition: 0.5s transform ease;
}
.menu-item.active {
  transform: translateX(0);
}
.menu-item h2 {
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  transform: scale(0);
  transition: 1s all ease;
}
.active h2 {
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  transform: scale(1);
  transition: 1s all ease;
}
.close-menu-item {
  position: absolute;
  right: 0.5rem;
  top: 0.4rem;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.notification-section {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -400%;
  left: -468%;
  width: 15rem;
  height: 3rem;
  background-color: #4171b6;
  z-index: 98;
}
.notification-section p{
  color: #fff;
  font-weight: 600;
}
.notification-cont:hover + .notification-section {
  display: flex;
}
