* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background-color: #c2a3d1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-container {
  max-width: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 7px 13px -5px #000000;
  box-shadow: 0px 7px 13px -5px #000000;
  border-radius: 7px;
  background-color: #fff;
}
.img-cont{
  flex: 1;
  width: 100%;
  height: 350px;
}
.img-cont img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px 0px 0px 7px;
}
.info-container{
  flex: 2;
  padding: 0rem 2.5rem 3.5rem;
}
.info-container h2{
  color: #8751a1;
  font-size: 2rem;
  font-weight: 400;
}
.star-ratings span{
  color: #FC9400;
  margin-bottom: 2rem;
}
.info-container p{
  color: #818189;
  font-size: 1rem;
}
.info-details{
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 2rem;
}
.info-first,.info-second,.info-third{
  margin-right: 3rem;
}
.info-first h4,.info-second h4,.info-third h4{
  color: #818189;
  font-weight: 600;
  margin-bottom: 0.4rem;
}
.info-first span,.info-second span,.info-third span{
  color: #8751a1;
  font-weight: 700;
  font-size: 1.3rem;
}
.btn-view{
  position: absolute;
  bottom: -6.5rem;
  right: -4rem;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #FC9400;
  border-radius: 7px;
  padding: 1rem 2rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.4s all ease;
}
.btn-view:hover{
  transform: translateX(2rem);
}
.btn-view i{
  margin-left: 0.5rem;
}
@media only screen and (max-width: 800px) {
  .card-container {
    width: 90%;
    flex-direction: column;
  }
  .info-details{
    flex-direction: column;
  }
  .info-container{
    width: 100%;
    padding-top: 2rem;
  }
  .img-cont{
    width: 100%;
  }
  .btn-view{
    right: 6rem;
    bottom: -5rem;
  }
}
@media only screen and (max-width: 375px) {
  .btn-view{
    right: 2rem;
  }
}